<a href="https://colab.research.google.com/github/hsnits/LearnPython/blob/main/Init_Programing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Today is Our First Class

In [ ]:
print("Hellow Word")

Hellow Word

In [ ]:
print("Happy Teachers' Day")

Happy Teachers' Day

In [ ]:
print('Happy Teachers\' Day')

Happy Teachers' Day

In [ ]:
print('''Happy Teachers' Day''')

Happy Teachers' Day

In [ ]:
print('''Happy
          Teacher's
                  Day''')

Happy
Teacher's
Day

In [ ]:
print('''Happy
          Teacher's
                  Day''')

Happy
          Teacher's
                  Day

In [ ]:
print(2+18)

20

In [ ]:
print(2+2.8)

4.8

In [ ]:
x = 'BO CDSA'
y = 105
print(x,y)

BO CDSA 105

In [ ]:
type(x)

str

In [ ]:
type(y)

int

In [ ]:
x,y,z,w,v = "Python", "Is", "Great","Language", "A"
print(x,y, v,z,w)

Python Is A Great Language

In [ ]:
x = 25
y = 5
z = x + y
print(z)
type(z)
w = y+0.2
print(w)
type(w)

30
5.2

float

In [ ]:
x= int(input("Enter First Number"))
y= int(input("Enter secound Number"))
z = x+y
print("Sum of your number is ")

Enter First Number5
Enter secound Number3
Sum of your number is

In [ ]:
x= 26
y= 4
z= x**(1/2)
print(z)

In [ ]:
x = ['ram',1,3,5,7,6,'pankaj']
x.append('hari')
x.insert(3,"Jonh")

if else use calse

In [ ]:
x= int(input("Enter Number"))

if x%2==1:
       print("number is odd")
else:
       print("number is even")

In [ ]:
x= int(input("Enter Number"))

if x%2==0:
       print("Devisibale by 2")
elif x%3==0:
       print("Devisibale by 3")
elif x%4==0:
       print("Devisibale by 4")
elif x%5==0:
       print("Devisibale by 5")
else:
       print("not Devisibale by 2 , 3, 4, 5")

Enter Number101
not Devisibale by 2 , 3, 4, 5

In [ ]:
x= int(input("Enter Number"))

if x%2==0:
       print("Devisibale by 2")
elif x%3==0:
       print("Devisibale by 3")
elif x%4==0:
       print("Devisibale by 4")
elif x%5==0:
       print("Devisibale by 5")
else:
       print("not Devisibale by 2 , 3, 4, 5")

Enter Number5
Devisibale by 5

In [ ]:
x= int(input("Enter Number"))

if x%2==0:
       print("Devisibale by 2")
elif x%3==0:
       print("Devisibale by 3")
elif x%4==0:
       print("Devisibale by 4")
elif x%5==0:
       print("Devisibale by 5")
else:
       print("not Devisibale by 2 , 3, 4, 5")

In [ ]:
x= int(input("Enter Number"))

if x%2==0:
       print("Devisibale by 2")
elif x%3==0:
       print("Devisibale by 3")
elif x%4==0:
       print("Devisibale by 4")
elif x%5==0:
       print("Devisibale by 5")
else:
       print("not Devisibale by 2 , 3, 4, 5")

In [ ]:
x= int(input("Enter Number"))

if x%2==0:
       print("Devisibale by 2")
elif x%3==0:
       print("Devisibale by 3")
elif x%4==0:
       print("Devisibale by 4")
elif x%5==0:
       print("Devisibale by 5")
else:
       print("not Devisibale by 2 , 3, 4, 5")

20240824 - Class

In [3]:
x= [3,5,9,1,2,3,5,7,9]
print(x[-5:-2])

[2, 3, 5]

In [4]:
x= [3,5,9,1,2,3,5,7,9]
print(x[2:])

[9, 1, 2, 3, 5, 7, 9]

In [8]:
x= [3,5,9,1,2,3,5,7,9]
print(x[-0])
print(x[1])
print(x[-1])

3
5
9

In [9]:
x= [3,5,9,1,2,3,5,7,9]
print(x[-0])
print(x[2])
print(x[-2])

3
9
7